<nav class="navbar fixed-top navbar-expand navbar-dark bg-black">
  <div class="container-fluid">
  
    <a class="navbar-brand " routerLink="/home">
  
    <span class="me-2" style="font-size: 30px;">Pizzeria</span>
  
    <img src="assets/logo.png" alt="Pizzeria Logo" class="logo">
</a>

    <ul class="navbar-nav me-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active">
          Order Pizza
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/build_pizza" routerLinkActive="active">
          Build Your Own Pizza
        </a>   
    </ul>
     <a class="nav-link shopping-cart" routerLink="/cart" routerLinkActive="active">
           <img src="assets/shopping.png" alt="Shopping Cart" class="cart_icon">
          Shopping Cart <span class="cart-count">{{ getCartQuantity() }}</span>
          
        </a>
  </div>
</nav>
