<div class="content">
<p>
  Pizzeria now gives you options to build your own pizza.
  Customize your pizza by choosing ingredients from the list given below
</p>

<p><span *ngIf="!hasPizza" style="color: red; font-weight: bold;">(Please Select a pizza before proceeding)</span></p>


<table>
  <tr *ngFor="let topping of buildpizzaList">

    <td>
      <img [src]="topping.image" width="70" alt="topping.tname">
    </td>

    <td>
      <b>{{ topping.tname }}</b>ng 
      &nbsp;&nbsp;
    <span style='font-weight: bold'> ₹{{ topping.price }}.00</span>  
    </td>

    <td *ngIf="hasPizza">
     <input type="checkbox"  (change)="calculateTotalPrice($event, topping.price)">
      <span style=" color: orange;">&nbsp; Add</span>
    </td>

  </tr>

</table>
<div *ngIf="hasPizza" class="calculate">
<h2>Total Cost : ₹{{ totalPrice }}</h2>
</div>

<button *ngIf="hasPizza" (click)="buildPizza()" class="build_btn" routerLink="/cart" routerLinkActive="active">Build Ur Pizza</button>
</div>